apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\Users\The_F\Downloads\kompose-windows-amd64 (1).exe convert -f C:\Users\The_F\source\repos\Miro-Services\src\docker-compose.yml -v
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: pgadmin
  name: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: pgadmin
  template:
    metadata:
      annotations:
        kompose.cmd: C:\Users\The_F\Downloads\kompose-windows-amd64 (1).exe convert -f C:\Users\The_F\source\repos\Miro-Services\src\docker-compose.yml -v
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: pgadmin
    spec:
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:8.10
          ports:
            - containerPort: 80
          env:
            - name: PGADMIN_DEFAULT_EMAIL
              value: admin@demo.com
            - name: PGADMIN_DEFAULT_PASSWORD
              value: Pass123!
          volumeMounts:
            - name: pgadmin-storage
              mountPath: /var/lib/pgadmin
      volumes:
        - name: pgadmin-storage
          emptyDir: {}
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin
spec:
  selector:
    app: pgadmin
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30001
  type: NodePort
