apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\Users\The_F\Downloads\kompose-windows-amd64 (1).exe convert -f C:\Users\The_F\source\repos\Miro-Services\src\docker-compose.yml -v
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: portainer
  name: portainer
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: portainer
  template:
    metadata:
      annotations:
        kompose.cmd: C:\Users\The_F\Downloads\kompose-windows-amd64 (1).exe convert -f C:\Users\The_F\source\repos\Miro-Services\src\docker-compose.yml -v
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: portainer
    spec:
      containers:
        - name: portainer
          image: portainer/portainer-ce:2.20.3   # stable release
          ports:
            - containerPort: 9000   # Web UI
            - containerPort: 8000   # Edge agent (optional)
---
apiVersion: v1
kind: Service
metadata:
  name: portainer
spec:
  selector:
    app: portainer
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      nodePort: 30900
    - name: edge
      port: 8000
      targetPort: 8000
      nodePort: 30800
  type: NodePort